{% extends "layout.html" %}
{% block title %}
  Chai or tweet
{% endblock title %}


{% block content %}
  
<h1 class="text-center text-white mt-4">Welcome to chai or django</h1>
<h2>{%if form.instance.pk %}
     Edit Tweet 
     {% else %}
      Create Tweet
      {% endif %}
      <form action="" method="post" enctype="multipart/form-data" class="form">
        {% csrf_token %}
              {{form.as_p}}
              <button class="btn btn-primary" type="submit">Submit</button>
      </form>
      <a href="{% url 'tweet_list' %}" class="btn btn-dark">Back to home page</a>
    </h2>

{% endblock content %}